<!-- <app-dt-header></app-dt-header> -->
<div class="card card-stats desktop-only">
	<div class="card-body datatable p-0">
		<div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (activeIdChange)="tabChange($event)">
			<div [ngbNavItem]="1">
				<a ngbNavLink>Latest</a>
				<ng-template ngbNavContent>
					<ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="'force'"
						[headerHeight]="50" [rowHeight]="'auto'" [footerHeight]="50" [scrollbarH]="true"
						[externalPaging]="true" [externalSorting]="false" [limit]="pagePayload.limit"
						[offset]="pagePayload.page - 1" [rowIdentity]="getId" [count]="count"
						(page)="onPageChange($event)">
					</ngx-datatable>
					<ng-template #snoR let-row="row" let-value="value" let-rowIndex="rowIndex">{{ rowIndex + 1 }}
					</ng-template>
					<ng-template #actionR let-row="row" let-value="value" let-i="index">
						<button class="btn admin_small_btn" (click)="rowAction('view', row)" data-toggle="tooltip"
							data-placement="bottom" title="View Order">
							<i class="fa fa-eye"></i>
						</button>
					</ng-template>
				</ng-template>
			</div>
			<div [ngbNavItem]="2">
				<a ngbNavLink>Completed</a>
				<ng-template ngbNavContent>
					<ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="'force'"
						[headerHeight]="50" [rowHeight]="'auto'" [footerHeight]="50" [scrollbarH]="true"
						[externalPaging]="true" [externalSorting]="false" [limit]="pagePayload.limit" [count]="count"
						[offset]="pagePayload.page - 1" [rowIdentity]="getId" (page)="onPageChange($event)">
					</ngx-datatable>
					<ng-template #snoR let-row="row" let-value="value" let-rowIndex="rowIndex">{{ rowIndex + 1 }}
					</ng-template>
					<ng-template #actionR let-row="row" let-value="value" let-i="index">
						<button class="btn admin_small_btn" (click)="rowAction('view', row)" data-toggle="tooltip"
							data-placement="bottom" title="View Order">
							<i class="fa fa-eye"></i>
						</button>
					</ng-template>
				</ng-template>
			</div>
			<div [ngbNavItem]="3">
				<a ngbNavLink>On Hold</a>
				<ng-template ngbNavContent>
					<ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="'force'"
						[rowIdentity]="getId" [headerHeight]="50" [rowHeight]="'auto'" [footerHeight]="50"
						[scrollbarH]="true" [externalPaging]="true" [externalSorting]="false"
						[limit]="pagePayload.limit" [count]="count" [offset]="pagePayload.page - 1"
						(page)="onPageChange($event)">
					</ngx-datatable>
					<ng-template #snoR let-row="row" let-value="value" let-rowIndex="rowIndex">{{ rowIndex + 1 }}
					</ng-template>
					<ng-template #actionR let-row="row" let-value="value" let-i="index">
						<button class="btn admin_small_btn" (click)="rowAction('view', row)" data-toggle="tooltip"
							data-placement="bottom" title="View Order">
							<i class="fa fa-eye"></i>
						</button>
					</ng-template>
				</ng-template>
			</div>
		</div>
		<div [ngbNavOutlet]="nav" class="mt-2"></div>
	</div>
</div>

<div class="datatable mobile-only">
	<div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (activeIdChange)="tabChange($event)">
		<div [ngbNavItem]="1">
			<a ngbNavLink>Latest</a>
		</div>
		<div [ngbNavItem]="2">
			<a ngbNavLink>Active</a>
		</div>
		<div [ngbNavItem]="3">
			<a ngbNavLink>Inactive</a>
		</div>
	</div>
	<ng-container *ngFor="let product of rows">
		<app-table-card [mobileViewColumns]="mobileViewColumns" [rows]="product" [mobileViewActions]="mobileViewActions"
			(action)="childActionHandler($event)">
		</app-table-card>
	</ng-container>
	<datatable-pager *ngIf="isDataLoaded && rows.length" [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
		[pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="pagePayload.page"
		[size]="pagePayload.limit" [count]="count" (change)="onPageChange($event)">
	</datatable-pager>
</div>