<div class="report-claim">
    <div class="card mt-5">
        <div class="card-body">
            <form [formGroup]="form">
                <div class="form-group">
                    <div class="mb-3">
                        <label class="form-label col-form-label">Policy #*</label>
                        <input type="text" class="form-control" placeholder="Enter City" formControlName="policy_number">
                        <div *ngIf="isSubmitting && formData.policy_number.errors" class="invalid-feedback">
                            <div *ngIf="formData.policy_number.errors.required">*Policy # is required.</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label col-form-label">Loss Date*</label>
                        <input type="date" class="form-control" formControlName="loss_date">
                        <div *ngIf="isSubmitting && formData.loss_date.errors" class="invalid-feedback">
                            <div *ngIf="formData.loss_date.errors.required">*Loss Date is required.</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label col-form-label">TIME</label>
                        <ngx-timepicker-field></ngx-timepicker-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>