<section class="list-header-wrapper mb-3">
    <div class="d-flex justify-content-end">
        <ng-container *ngIf="dtHeaderConfig?.export">
            <button class="btn admin_btn_primary ml-1" (click)="actionHandler('export')">{{ dtHeaderConfig?.export }}</button>
        </ng-container>
        <ng-container *ngIf="dtHeaderConfig?.add">
            <button class="btn admin_btn_primary ml-1" (click)="actionHandler('add')">{{ dtHeaderConfig?.add }}</button>
        </ng-container>
    </div>
</section>
