<div class="card card-stats">
	<div class="card-header px-1 py-3 tab_admin_card_header">
		<div class="px-2">
			<div class="card-title mt-0">
				<a href="javascript:;" class="card-title-back" [routerLink]="[routes.previous]">
					<i class="fa fa-long-arrow-left"></i> Back
				</a>
			</div>
		</div>
	</div>

	<div class="card-body" *ngIf="!!orderDetail">
		<div class="row">
			<div [ngClass]="{
				'col-md-6': orderDetail?.waybill && orderDetail?.vendor_order_status.is_dispatch,
				'col-md-12': !orderDetail?.waybill
			}">
				<div class="font-weight-bold mb-2">Basic Information</div>
				<hr class="mt-0">
				<div class="row">
					<div [ngClass]="{
						'col-md-12': orderDetail?.waybill && orderDetail?.vendor_order_status.is_dispatch,
						'col-md-6': !orderDetail?.waybill
					}">
						<dl class="row mb-0">
							<dt class="col-6">Booking ID</dt>
							<dd class="col-6">
								{{ orderDetail?.order_ref_id ? orderDetail?.order_ref_id : 'NA' }}
							</dd>
							<dt class="col-6">Products</dt>
							<dd class="col-6">
								{{ orderDetail?.product_count ? orderDetail?.product_count : 'NA' }}
							</dd>
							<dt class="col-6">Order Status</dt>
							<dd class="col-6 text-capitalize text-green">
								{{ orderDetail?.orderstatus ? orderDetail?.orderstatus : 'NA' }}
							</dd>
							<dt class="col-6">Date</dt>
							<dd class="col-6">
								{{ orderDetail?.created_at ? (orderDetail?.created_at | date: 'dd-MMM-yyyy') : 'NA' }}
							</dd>
							<dt class="col-6">Time</dt>
							<dd class="col-6">
								{{ orderDetail?.created_at ? (orderDetail?.created_at | date: 'hh:mm:ss a') : 'NA' }}
							</dd>
							<dt class="col-6">Total Amount</dt>
							<dd class="col-6">
								{{ orderDetail?.amount_paid ? '₹' + orderDetail?.amount_paid : 'NA' }}
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="col-md-6" *ngIf="orderDetail?.waybill && orderDetail?.vendor_order_status.is_dispatch">
				<div class="d-flex justify-content-between align-items-center">
					<div class="font-weight-bold">Shipping Label</div>
					<div class="shipping-label-icons">
						<div class="shipping-icons" (click)="downloadShippingLabel()">
							<img src="assets/img/icons/down-arrow.png" alt="download">
							Download
						</div>
						<div class="shipping-icons" (click)="emailShippingLabel()">
							<img src="assets/img/icons/email.png" alt="download">
							Email
						</div>
					</div>
				</div>
				<hr class="mt-0">
				<div class="shipping-label">
					<img src="assets/img/shipping-label.png" alt="tick" class="shipping label">
					<p class="mt-2"><b>Waybill:</b> {{ orderDetail?.waybill }}</p>
				</div>
			</div>
		</div>

		<div class="font-weight-bold mb-2 mt-4">List of Medicines - {{orderDetail?.product_count}}</div>
		<hr class="mt-0">
		<div class="row">
			<div class="col-md-6">
				<dl class="row mb-0 med-list">
					<dt class="col-6 item-name">Medicine Name</dt>
					<dd class="col-6 item-quantity">Quantity</dd>
					<ng-container *ngFor="let item of orderDetail?.products">
						<dt class="col-6">{{ item.product_name }}</dt>
						<dd class="col-6">{{ item.quantity }}</dd>
					</ng-container>
				</dl>
			</div>
		</div>

		<ng-container *ngIf="!!orderDetail?.address?.address_id">
			<div class="font-weight-bold mb-2 mt-4">Customer Details </div>
			<hr class="mt-0">
			<div class="row customer-detail">
				<div class="col-4">
					<div class="title">{{ orderDetail?.address?.name }}</div>
					<p class="description">{{ orderDetail?.address?.mobile }}</p>
				</div>
				<div class="col-8">
					<div class="title">Shipping Address</div>
					<p class="description">
						{{ orderDetail?.address?.address1 }}, {{ orderDetail?.address?.address2 }}
						<br>
						{{ orderDetail?.address?.city }}, {{ orderDetail?.address?.state }} - {{
						orderDetail?.address?.pincode }}
					</p>
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="!!orderDetail?.prescription?.id">
			<div class="font-weight-bold mb-2 mt-4">
				<ng-container *ngIf="orderDetail?.prescription?.doctor">Consulted By: {{
					orderDetail?.prescription?.doctor }}</ng-container>
				<ng-container *ngIf="!orderDetail?.prescription?.doctor">Prescription</ng-container>
			</div>
			<hr class="mt-0">
			<div class="prescription-thumb-wrapper">
				<div class="mb-1 prescription-title">Prescriptions (1)</div>
				<img [src]="orderDetail?.prescription?.image" alt="prescription" />
			</div>
		</ng-container>

		<div class="font-weight-bold mb-2 mt-4">Invoice Total</div>
		<hr class="mt-0">
		<div class="row">
			<div class="col-md-4">
				<dl class="row mb-0">
					<dt class="col-6">MRP Total</dt>
					<dd class="col-6">
						{{ '₹' + orderDetail?.totalprice.price_before_discount }}
					</dd>
					<dt class="col-6">Discount</dt>
					<dd class="col-6">
						{{ '₹' + orderDetail?.totalprice.amount_saved }}
					</dd>
					<dt class="col-6">Shipping Charges</dt>
					<dd class="col-6">
						{{ '₹' + orderDetail?.totalprice.shipping_charges }}
					</dd>
					<dt class="col-6">Final Invoice Value</dt>
					<dd class="col-6 text-green">
						{{ '₹' + orderDetail?.totalprice.amount_to_be_paid }}
					</dd>
				</dl>
			</div>
		</div>

		<hr class="mt-0">

		<div class="d-flex" *ngIf="!!orderDetail?.vendor_order_status">
			<button class="btn admin_btn_primary py-2 px-5 mr-3" (click)="actionAcceptReject('accept')"
				*ngIf="orderDetail?.orderstatus.toLocaleLowerCase() !== 'cancelled' && !orderDetail?.vendor_order_status.is_accepted">
				Accept
			</button>
			<button class="btn admin_btn_primary py-2 px-5 mr-3" (click)="orderActionFlowPopup()"
				*ngIf="orderDetail?.orderstatus.toLocaleLowerCase() !== 'cancelled' && orderDetail?.vendor_order_status.is_accepted && !orderDetail?.vendor_order_status.invoice_uploaded">
				Upload Invoice
			</button>
			<button class="btn admin_btn_primary py-2 px-5 mr-3" (click)="orderActionFlowPopup()"
				*ngIf="orderDetail?.orderstatus.toLocaleLowerCase() !== 'cancelled' && orderDetail?.vendor_order_status.is_accepted && orderDetail?.vendor_order_status.invoice_uploaded && !orderDetail?.vendor_order_status.package_verify">
				Verify Package
			</button>
			<button class="btn admin_btn_primary py-2 px-5 mr-3" (click)="orderActionFlowPopup()"
				*ngIf="orderDetail?.orderstatus.toLocaleLowerCase() !== 'cancelled' && orderDetail?.vendor_order_status.is_accepted && orderDetail?.vendor_order_status.invoice_uploaded && orderDetail?.vendor_order_status.package_verify && !orderDetail?.vendor_order_status.is_dispatch">
				Dispatch
			</button>
			<button class="btn admin_btn_tirtiary_outline py-2 px-5" (click)="actionAcceptReject('reject')"
				*ngIf="orderDetail?.orderstatus.toLocaleLowerCase() !== 'cancelled' && !orderDetail?.vendor_order_status.is_accepted">
				Reject
			</button>
		</div>
	</div>
</div>