@import '../../../../../assets/scss/main/variables';

.customer-detail {
    .title {
        font-size: $font-size-xs;
        font-weight: $font-weight-semi;
    }
    .description {
        font-size: $font-size-xs;
        font-weight: $font-weight-normal;
    }
}

.prescription-thumb-wrapper {
    .prescription-title {
        font-size: $font-size-base;
    }

    img {
        max-width: 125px;
        margin-right: 10px;
        width: 100%;
    }
}

.med-list {
    .item-name {
        font-size: 12px;
        font-weight: normal;
        color: #000000;
    }
    .item-quantity {
        font-size: 12px;
        font-weight: normal;
        color: #000000;
    }
}

.shipping-label-icons {
    display: flex;
    
    .shipping-icons {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        font-size: 9px;
        cursor: pointer;

        img {
            width: 16px;
        }
    }
}

.shipping-label {
    img {
        max-width: 250px;
        width: 100%;
    }
}