<div class="toolbar navbar-secondary px-5">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <div class="title-wrapper">
                <div class="title">
                    {{ title }}
                </div>
            </div>
            <div class="action-wrapper">
                <ng-container *ngIf="activatedRoute.data.title === 'Inbox'">
                    <button class="btn btn-white" (click)="navigate(routes.reportClaim)">Report a Claim</button>
                </ng-container>
                <ng-container *ngIf="activatedRoute.data.title === 'Claim Summary'">
                    <button class="btn btn-white-outline mr-3">Close Claim</button>
                    <button class="btn btn-white-outline mr-3">Create PDF</button>
                    <button class="btn btn-white-outline mr-3">Print/Fax</button>
                    <button class="btn btn-white-outline mr-3">Create Note</button>
                    <button class="btn btn-white" (click)="navigate(routes.createTask)">+ Create Task</button>
                </ng-container>
                <ng-container *ngIf="activatedRoute.data.title === 'Create Task'">
                    <button class="btn btn-white-outline mr-3" (click)="navigate(routes.claim)">Cancel</button>
                    <button class="btn btn-white">Next</button>
                </ng-container>
            </div>
        </div>
    </div>
</div>