.sidebar .sidebar-wrapper {
	// overflow-x: hidden;
	height: 100vh;
	background: #f2f2f2;
	margin-top: 124px;
	padding: 0;

	.active-pro {
		bottom: 22px;
	}

	.navbar-nav {
		.dropdown-toggle::after {
			display: none !important;
		}

		.dropdown-menu:after {
			display: none !important;
		}

		.dropdown-menu::before {
			display: none !important;
		}

		.dropdown {
			.dropdown-menu {
				margin-top: 0px !important;
				position: absolute;
				width: 100%;
				background-color: $new-green !important;
				border-top-right-radius: $border-radius-extreme;
				border-bottom-right-radius: $border-radius-extreme;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				box-shadow: none;
			}

			.dropdown-item {
				padding: 0.7rem;
			}

			.dropdown-item:hover {
				color: $white-color;
				opacity: 0.4 !important;
				background-color: #2c2c2c;
			}

			.dropdown-item.active,
			.dropdown-item:active {
				color: $white-color;
				opacity: 0.4 !important;
				background-color: #2c2c2c;
			}

			.dropdown-item:first-child {
				border-top-left-radius: 0;
				border-top-right-radius: $border-radius-extreme;
			}

			.dropdown-item:last-child {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: $border-radius-extreme;
			}
		}

		// .dropdown.show .dropdown-menu {
		//   -webkit-transform: translate3d(100%, -25%, 0);
		//   transform: translate3d(100%, -25%, 0);
		// }
	}

	ul {
		li {
			a {
				color: $white-color;
				opacity: 1;
			}
		}
	}
}

.datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
	background-color: #90ee90 !important;
	color: #fff;
}