<div class="sidebar-wrapper">
	<nav class="nav py-3">
		<ul class="navbar-nav" *ngFor="let menuItem of menuItems">
			<li class="nav-item dropdown" id="{{menuItem.id}}" *ngIf="!(!!menuItem.children && menuItem.children.length === 0)" ngbDropdownToggle ngbDropdown routerLinkActive="active">
				<a class="nav-link">
					<div><img class="img-fluid w-75" [src]="menuItem.imageUrl"></div>
					{{menuItem.title}}
					<b class="caret"></b>
				</a>
				<!-- aria-labelledby="{{menuItem.id}}" -->
				<div class="dropdown-menu dropdown-menu-side">
					<a class="dropdown-item" *ngFor="let item of menuItem.children" href="#"
						[routerLink]="item.path">{{item.title}}</a>
				</div>
			</li>
			<li class="nav-item" *ngIf="!!menuItem.children && menuItem.children.length === 0" routerLinkActive="active" [routerLink]="menuItem.path">
				<a class="nav-link">
					<div><img class="img-fluid w-75" style="max-width: 25px;" [src]="menuItem.imageUrl"></div>
					{{menuItem.title}}
				</a>
			</li>
		</ul>
	</nav>
</div>