<!-- upload invoice -->
<ng-container *ngIf="data?.order.vendor_order_status.is_accepted && !data?.order.vendor_order_status.invoice_uploaded">
	<div class="modal-header p-0">
		<!-- <h4 class="modal-title">Hi there!</h4> -->
		<button type="button" class="close modal-close" aria-label="Close" (click)="activeModal.close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<ng-container *ngIf="invoiceScreen === 1">
		<div class="modal-body text-center">
			<h4 class="mt-0" *ngIf="data?.showPreviousStepSuccess">
				Thanks, Order Accepted
			</h4>
			<div>
				<form class="" [formGroup]="invoiceForm">
					<div class="form-group">
						<label class="text-muted">Upload Invoice</label>
						<input class="d-none" type="file" accept="image/x-png,image/jpeg,image/jpg" (change)="onFileChanged($event)" #fileInput>
						<div (click)="fileInput.click()" class="browse-btn text-muted">
							<span>{{ selectedDocName ? selectedDocName : 'File Name' }}</span>
							<span><i class="fa fa-upload" aria-hidden="true"></i></span>
						</div>
						<div *ngIf="isInvoiceSubmit && invoiceFormControls.invoice.errors" class="invalid-feedback">
							<div *ngIf="invoiceFormControls.invoice.errors.required">*Invoice is required.</div>
						</div>
						<div class="img-preview mt-2">
							<img *ngIf="!invoiceFormControls.invoice.value" src="assets/img/dummy-img.png" alt="invoice">
							<img *ngIf="invoiceFormControls.invoice.value" [src]="invoiceFormControls.invoice.value" alt="invoice">
						</div>
					</div>
	
					<div class="form-group">
						<div class="row">
							<div class="col-6 text-left">
								<label class="text-muted">Enter Invoice Number</label>
								<input type="text" class="form-control" aria-describedby="invoice number" placeholder="Enter Invoice Number" formControlName="invoice_no">
								<div *ngIf="isInvoiceSubmit && invoiceFormControls.invoice_no.errors" class="invalid-feedback">
									<div *ngIf="invoiceFormControls.invoice_no.errors.required">*Invoice no is required.</div>
								</div>
							</div>
							<div class="col-6 text-left">
								<label class="text-muted">Enter Invoice Price</label>
								<input type="text" class="form-control" aria-describedby="invoice price" formControlName="total_amount" maxlength="10">
								<div *ngIf="isInvoiceSubmit && invoiceFormControls.total_amount.errors" class="invalid-feedback">
									<div *ngIf="invoiceFormControls.total_amount.errors.required">*Invoice price is required.</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer text-center">
			<button type="button" class="btn admin_btn_tirtiary_outline px-3 py-2" (click)="activeModal.close()">Cancel</button>
			<button type="button" class="btn admin_btn_primary px-3 py-2" (click)="uploadInvoice()">Upload Now</button>
		</div>
	</ng-container>
	<ng-container *ngIf="invoiceScreen === 2">
		<div class="modal-body text-center hold">
			<!-- <img src="assets/img/check-mark.png" alt="tick" class="check-img"> -->
			<i class="fa fa-exclamation my-4" aria-hidden="true"></i>
			<h4 class="mt-0">
				Order Total & Invoice Total does not match!
			</h4>
			<p class="text-muted">
				Please re-enter the correct invoice total or go to on hold order to call us. 
			</p>
		</div>
		<div class="modal-footer text-center">
			<button type="button" class="btn admin_btn_tirtiary_outline px-3 py-2" (click)="invoiceScreen = 1;">Change Invoice Total</button>
			<button type="button" class="btn admin_btn_primary px-3 py-2" (click)="putOnHold()">Put On Hold</button>
		</div>
	</ng-container>
</ng-container>

<!-- Verify Package -->
<ng-container *ngIf="data?.order.vendor_order_status.is_accepted && data?.order.vendor_order_status.invoice_uploaded && !data?.order.vendor_order_status.package_verify">
	<div class="modal-header p-0">
		<button type="button" class="close modal-close" aria-label="Close" (click)="activeModal.close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body text-center">
		<ng-container *ngIf="packageScreen === 1">
			<h4 class="mt-0" *ngIf="data?.showPreviousStepSuccess">
				<img src="assets/img/check-mark.png" alt="tick" class="check-img"> Invoice Uploaded Successfully!
			</h4>
			<div>
				<dl class="row mb-0 order-detail">
					<dt class="col-12 text-muted mb-4">Order Details</dt>
					<dt class="col-6 text-left">Booking ID:</dt>
					<dd class="col-6 text-left">
						{{ data?.order.order_ref_id }}
					</dd>
					<dt class="col-6 text-left">Products:</dt>
					<dd class="col-6 text-left">
						{{ data?.order.product_count }}
					</dd>
					<dt class="col-6 text-left">Order Status:</dt>
					<dd class="col-6 text-left text-capitalize text-green">
						{{ data?.order.orderstatus }}
					</dd>
					<dt class="col-6 text-left">Date:</dt>
					<dd class="col-6 text-left">
						{{ data?.order.created_at | date: 'dd-MMM-yyyy' }}
					</dd>
					<dt class="col-6 text-left">Time:</dt>
					<dd class="col-6 text-left">
						{{ data?.order.created_at | date: 'hh:mm:ss a' }}
					</dd>
					<dt class="col-6 text-left">Total Amount:</dt>
					<dd class="col-6 text-left">
						{{ '₹' + data?.order.amount_paid }}
					</dd>
	
					<br><br>
	
					<dt class="col-12 text-left mb-2">Invoice Total</dt>
					<dt class="col-6 text-left">MRP Total:</dt>
					<dd class="col-6 text-left">
						{{ '₹' + data?.order.totalprice.price_before_discount }}
					</dd>
					<dt class="col-6 text-left">Discount:</dt>
					<dd class="col-6 text-left">
						{{ '₹' + data?.order.totalprice.amount_saved }}
					</dd>
					<dt class="col-6 text-left">Shipping Charges:</dt>
					<dd class="col-6 text-left">
						{{ '₹' + data?.order.totalprice.shipping_charges }}
					</dd>
					<dt class="col-6 text-left text-green">Final Invoice Value:</dt>
					<dd class="col-6 text-left text-green">
						{{ '₹' + data?.order.totalprice.amount_to_be_paid}}
					</dd>
				</dl>
			</div>
		</ng-container>
		<ng-container *ngIf="packageScreen === 2">
			<h4 class="mt-0">
				Upload Package Images
			</h4>
			<div class="m-4">
				<dl class="row mb-3 package">
					<dt class="col-3 text-left">
						<div class="img-preview">
							<ng-container *ngIf="packageImgPreview1">
								<i class="fa fa-times" (click)="packageImgPreview1 = ''" aria-hidden="true"></i>
								<img [src]="packageImgPreview1" alt="package">
							</ng-container>
							<img src="assets/img/dummy-img.png" alt="package" *ngIf="!packageImgPreview1">
						</div>
					</dt>
					<dd class="col-9 text-left">
						<input class="d-none" type="file" accept="image/x-png,image/jpeg,image/jpg" (change)="onPackageFileChanged($event, 1)" #fileInputP1>
						<div (click)="fileInputP1.click()" class="browse-btn text-muted">
							<span>{{ selectedPackageDocName1 ? selectedPackageDocName1 : 'File Name'}}</span>
							<span><i class="fa fa-upload" aria-hidden="true"></i></span>
						</div>
					</dd>
				</dl>

				<dl class="row mb-3 package">
					<dt class="col-3 text-left">
						<div class="img-preview">
							<ng-container *ngIf="packageImgPreview2">
								<i class="fa fa-times" (click)="packageImgPreview2 = ''" aria-hidden="true"></i>
								<img [src]="packageImgPreview2" alt="package">
							</ng-container>
							<img src="assets/img/dummy-img.png" alt="package" *ngIf="!packageImgPreview2">
						</div>
					</dt>
					<dd class="col-9 text-left">
						<input class="d-none" type="file" accept="image/x-png,image/jpeg,image/jpg" (change)="onPackageFileChanged($event, 2)" #fileInputP2>
						<div (click)="fileInputP2.click()" class="browse-btn text-muted">
							<span>{{ selectedPackageDocName2 ? selectedPackageDocName2 : 'File Name' }}</span>
							<span><i class="fa fa-upload" aria-hidden="true"></i></span>
						</div>
					</dd>
				</dl>

				<dl class="row mb-0 package">
					<dt class="col-3 text-left">
						<div class="img-preview">
							<ng-container *ngIf="packageImgPreview3">
								<i class="fa fa-times" (click)="packageImgPreview3 = ''" aria-hidden="true"></i>
								<img [src]="packageImgPreview3" alt="package">
							</ng-container>
							<img src="assets/img/dummy-img.png" alt="package" *ngIf="!packageImgPreview3">
						</div>
					</dt>
					<dd class="col-9 text-left">
						<input class="d-none" type="file" accept="image/x-png,image/jpeg,image/jpg" (change)="onPackageFileChanged($event, 3)" #fileInputP3>
						<div (click)="fileInputP3.click()" class="browse-btn text-muted">
							<span>{{ selectedPackageDocName3 ? selectedPackageDocName3 : 'File Name' }}</span>
							<span><i class="fa fa-upload" aria-hidden="true"></i></span>
						</div>
					</dd>
				</dl>
				<div *ngIf="!selectedPackageDoc1 && !selectedPackageDoc2 && !selectedPackageDoc3 && isPackageSubmit" class="invalid-feedback">
					<div>*Please upload atleast one package.</div>
				</div>
			</div>
		</ng-container>
	</div>
	<div class="modal-footer text-center">
		<button type="button" class="btn admin_btn_primary px-3 py-2" (click)="proceedPackageFlow()">
			{{ packageScreen === 2 ? 'Upload and Verify the Package' : 'Verify the Package'}}
		</button>
	</div>
</ng-container>

<!-- dispatch -->
<ng-container *ngIf="data?.order.vendor_order_status.is_accepted && data?.order.vendor_order_status.invoice_uploaded && data?.order.vendor_order_status.package_verify && !data?.order.vendor_order_status.is_dispatch">
	<div class="modal-header p-0">
		<button type="button" class="close modal-close" aria-label="Close" (click)="activeModal.close(true)">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body text-center dispatch">
		<img src="assets/img/check-mark.png" alt="tick" class="check-img">
		<h4 class="mt-4">
			Package verified & Image uploaded Successfully!
		</h4>
	</div>
	<div class="modal-footer text-center">
		<button type="button" class="btn admin_btn_primary px-3 py-2" (click)="dispatch()">
			Ready to Dispatch
		</button>
	</div>
	<!-- <ng-container *ngIf="dispatchScreen === 2">
		<div class="modal-body text-center shipping-label">
			<h4 class="mt-4">
				Shipping Label
			</h4>
			<img src="assets/img/shipping-label.png" alt="tick" class="shipping label">
		</div>
		<div class="modal-footer text-center">
			<button type="button" class="btn admin_btn_primary px-3 py-2 mr-4" (click)="downloadLabel()">Download Label</button>
			<button type="button" class="btn admin_btn_primary px-3 py-2" (click)="shareLabel()">Share Label</button>
		</div>
	</ng-container> -->
</ng-container>