<div class="report-claim-detail">
    <div class="toolbar">
        <div class="container-fluid">
            <div class="row">
                <dl class="col-lg-2 custom-list-group">
                    <dt class="custom-label">Agency</dt>
                    <dd class="custom-label-value">
                        kaplansky ins agency / n truro
                    </dd>
                </dl>
                <dl class="col-lg-2 custom-list-group">
                    <dt class="custom-label">Policy #</dt>
                    <dd class="custom-label-value">
                        h974636729a
                    </dd>
                </dl>
                <dl class="col-lg-2 custom-list-group">
                    <dt class="custom-label">LOSS DATE</dt>
                    <dd class="custom-label-value">
                        02/08/2017
                    </dd>
                </dl>
                <dl class="col-lg-2 custom-list-group">
                    <dt class="custom-label">company</dt>
                    <dd class="custom-label-value">
                        norfolk & dedham mutual
                    </dd>
                </dl>
                <dl class="col-lg-2 custom-list-group">
                    <dt class="custom-label">effective date</dt>
                    <dd class="custom-label-value">
                        11/28/2020
                    </dd>
                </dl>
                <dl class="col-lg-2 custom-list-group">
                    <dt class="custom-label">expiration date</dt>
                    <dd class="custom-label-value">
                        11/28/2021
                    </dd>
                </dl>
            </div>
        </div>
    </div>




    <div class="card mt-5">
        <div class="card-body p-4">
            <div class="custom-card-1">
                <div class="title">
                    <h5 class="mb-0">insured</h5>
                </div>
                <div class="custom-card-body-1">
                    <form>
                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">Name</label>
                            <div class="col-lg-3 col-md-12">
                                <label class="col-form-label black">Albert, Salvatore J JR</label>
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">Address</label>
                            <div class="col-lg-3 col-md-12">
                                <label class="col-form-label black">BOX 1222 TRURO, MA 02666</label>
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">Email</label>
                            <div class="col-lg-3 col-md-12">
                                <input type="email" class="form-control" placeholder="Enter email">
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">DAY PHONE</label>
                            <div class="col-lg-3 col-md-12">
                                <div class="tel-input-grp">
                                    <input numbersOnly type="tel" class="form-control" maxlength="3">
                                    <span>-</span>
                                    <input numbersOnly type="tel" class="form-control" maxlength="3">
                                    <span>-</span>
                                    <input numbersOnly type="tel" class="form-control" maxlength="4">
                                    X
                                    <input numbersOnly type="tel" class="form-control" maxlength="4">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">EVE PHONE</label>
                            <div class="col-lg-3 col-md-12">
                                <div class="tel-input-grp">
                                    <input numbersOnly type="tel" class="form-control" maxlength="3">
                                    <span>-</span>
                                    <input numbersOnly type="tel" class="form-control" maxlength="3">
                                    <span>-</span>
                                    <input numbersOnly type="tel" class="form-control" maxlength="4">
                                    X
                                    <input numbersOnly type="tel" class="form-control" maxlength="4">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">CELL PHONE</label>
                            <div class="col-lg-3 col-md-12">
                                <div class="tel-input-grp">
                                    <input numbersOnly type="tel" class="form-control" maxlength="3">
                                    <span>-</span>
                                    <input numbersOnly type="tel" class="form-control" maxlength="3">
                                    <span>-</span>
                                    <input numbersOnly type="tel" class="form-control" maxlength="4">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row my-5">
                            <label class="col-lg-3 col-md-12 col-form-label">SHOULD SOMEONE OTHER THAN THE INSURED BE CONTACTED?</label>
                            <div class="col-lg-3 col-md-12">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>






    <div class="card mt-5">
        <div class="card-body p-4">
            <div class="custom-card-1">
                <div class="title">
                    <h5 class="mb-0">LOSS</h5>
                </div>
                <div class="custom-card-body-1">
                    <form>
                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">LOCATION</label>
                            <div class="col-lg-3 col-md-12">
                                <select class="form-control">
                                    <option value="">-- Select Location --</option>
                                    <option value="9 SANDY LANE TRURO, MA 02666">
                                        9 SANDY LANE TRURO, MA 02666
                                    </option>
                                </select>
                            </div>

                            <label class="offset-lg-1 col-lg-2 col-md-12 col-form-label">WHAT KIND OF LOSS
                                OCCURED?*</label>
                            <div class="col-lg-3 col-md-12">
                                <select class="form-control">
                                    <option value="">-- Select --</option>
                                    <option value="FIRST PARTY PROPERTY">
                                        FIRST PARTY PROPERTY
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">WHAT HAPPEND?</label>
                            <div class="col-lg-9 col-md-12">
                                <textarea cols="30" rows="3" class="form-control" placeholder=""></textarea>
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            <label class="col-lg-3 col-md-12 col-form-label">does the policyholder need a referral to an
                                emergency service provider?*</label>
                            <div class="offset-md-1 col-lg-3 col-md-12">
                                <div class="row-check">
                                    <div class="form-check">
                                        <input class="form-check-input mt-2" type="radio" name="policyholder" id="policyholderYes">
                                        <label class="col-form-label black pl-0" for="policyholderYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input mt-2" type="radio" name="policyholder" id="policyholderNo">
                                        <label class="col-form-label black pl-0" for="policyholderNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">reported to police or fire?</label>
                            <div class="col-lg-3 col-md-12">
                                <select class="form-control">
                                    <option value="">-- Select --</option>
                                    <option value="moderate">
                                        local fire
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">catastrophe</label>
                            <div class="col-lg-3 col-md-12">
                                <div class="row-check ml-3">
                                    <div class="form-check">
                                        <input class="form-check-input mt-2" type="radio" name="catastrophe" id="catastropheYes">
                                        <label class="col-form-label black pl-0" for="catastropheYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input mt-2" type="radio" name="catastrophe" id="catastropheNo">
                                        <label class="col-form-label black pl-0" for="catastropheNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">loss severity</label>
                            <div class="col-lg-3 col-md-12">
                                <select class="form-control">
                                    <option value="">-- Select --</option>
                                    <option value="moderate">
                                        Moderate
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">
                                if any damage is flood rated, was it reported to another insurance carrier?
                            </label>
                            <div class="col-lg-3 col-md-12">
                                <div class="row-check ml-3">
                                    <div class="form-check">
                                        <input class="form-check-input mt-2" type="radio" name="damage" id="damageYes">
                                        <label class="col-form-label black pl-0" for="damageYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input mt-2" type="radio" name="damage" id="damageNo">
                                        <label class="col-form-label black pl-0" for="damageNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">Policy #</label>
                            <div class="col-lg-3 col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Policy Number">
                            </div>
                        </div>

                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">Carrier</label>
                            <div class="col-lg-3 col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Carrier">
                            </div>
                        </div>
                        
                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">DAY PHONE</label>
                            <div class="col-lg-3 col-md-12">
                                <div class="tel-input-grp">
                                    <input numbersOnly type="tel" class="form-control" maxlength="3">
                                    <span>-</span>
                                    <input numbersOnly type="tel" class="form-control" maxlength="3">
                                    <span>-</span>
                                    <input numbersOnly type="tel" class="form-control" maxlength="4">
                                    X
                                    <input numbersOnly type="tel" class="form-control" maxlength="4">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-body p-4">
            <div class="custom-card-1">
                <div class="title">
                    <h5 class="mb-0">REMARKS</h5>
                </div>
                <div class="custom-card-body-1">
                    <form>
                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">Remarks</label>
                            <div class="col-lg-9 col-md-12">
                                <textarea cols="30" rows="3" class="form-control"
                                    placeholder="Enter remarks here"></textarea>
                                <!-- <input type="text" class="form-control" placeholder="Enter name"> -->
                            </div>
                        </div>
                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">REPORTED BY</label>
                            <div class="col-lg-3 col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="form-group row my-4">
                            <label class="col-lg-2 col-md-12 col-form-label">ENTERED BY</label>
                            <div class="col-lg-3 col-md-12 d-flex align-items-center">
                                <label class="custom-label-value">YOGESH PAWAR</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>