<div class="card card-stats-mobile">
    <div class="row">
        <div class="col-4" *ngFor="let item of mobileViewColumns">
            <dt class="dt-label">{{ item?.name }}</dt>
            <dd class="text-muted dt-value">
                <ng-container *ngIf="!item?.pipe && !item?.switch">{{ rows[item?.prop] }}</ng-container>

                <ng-container *ngIf="item?.pipe">{{ item?.pipe.transform(rows[item?.prop]) }}</ng-container>
                
                <ng-container *ngIf="item?.cellTemplate">
                    <ng-container *ngIf="item?.switch">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" [checked]="rows[item?.prop]" [id]="'status' + rows?.id" class="custom-control-input">
                            <label class="custom-control-label" [for]="'status' + rows?.id"></label>
                        </div>
                    </ng-container>
                </ng-container>
            </dd>
        </div>
    </div>

    <hr>

    <div class="actions mt-1">
        <button class="btn admin_small_btn_mobile" *ngIf="mobileViewActions?.view" (click)="actionHandler('view', rows)">
            <i class="fa fa-eye"></i>
        </button>
    </div>
</div>