<section class="container-fluid tab_admin_login">
	<div class="row">
		<div class="col-lg-6 tab_admin_login_left min-vh-100 p-0">
			<div class="login-carousal-wrapper">
				<div class="slider">
					<owl-carousel-o [options]="carousalOptions">
						<ng-template carouselSlide>
							Bibendum blandit quam in fringilla tellus tristique volutpat. Non, et ut fringilla mi sed
							nulla. Consectetur eu dui vel urna pharetra at gravida rhoncus, sed.
						</ng-template>
						<ng-template carouselSlide>
							Bibendum blandit quam in fringilla tellus tristique volutpat. Non, et ut fringilla mi sed
							nulla. Consectetur eu dui vel urna pharetra at gravida rhoncus, sed.
						</ng-template>
						<ng-template carouselSlide>
							Bibendum blandit quam in fringilla tellus tristique volutpat. Non, et ut fringilla mi sed
							nulla. Consectetur eu dui vel urna pharetra at gravida rhoncus, sed.
						</ng-template>
						<ng-template carouselSlide>
							Bibendum blandit quam in fringilla tellus tristique volutpat. Non, et ut fringilla mi sed
							nulla. Consectetur eu dui vel urna pharetra at gravida rhoncus, sed.
						</ng-template>
					</owl-carousel-o>
				</div>
			</div>
		</div>
		<div class="col-lg-6  tab_admin_login_right p-0 min-vh-100">
			<div class="d-flex flex-column form-content">
				<a class="navbar-brand w-100" [routerLink]="[routes.root]">
					<img class="img-fluid" src="assets/img/logo-big.png" alt="Logo">
				</a>
				<p>NEWBURY WORKFLOW SYSTEM (NWS)</p>
				<div class="tab_admin_login_card">
					<div class="p-2">
						<h5 class="my-4">Login</h5>
					</div>
					<div class="p-2">
						<form class="form-signin" [formGroup]="form">
							<div class="form-label-group mb-4">
								<label class="form-label">Username</label>
								<input type="email" class="form-control" formControlName="email">
								<div *ngIf="isSubmitting && formData.email.errors" class="invalid-feedback">
									<div *ngIf="formData.email.errors.required">*Email is required.</div>
									<div *ngIf="formData.email.errors.pattern">*Invalid email.</div>
								</div>
							</div>
							<div class="form-label-group mb-4">
								<label class="form-label">Password</label>
								<div class="password-wrapper">
									<input type="password" class="form-control" formControlName="password">
									<img src="assets/img/icons/password-hide.png" alt="password">
								</div>
								<div *ngIf="isSubmitting && formData.password.errors" class="invalid-feedback">
									<div *ngIf="formData.password.errors.required">*Password is required.</div>
								</div>
							</div>
							<div class="form-label-group mb-4 forget-container">
								<a href="javascript:;">Forgot Password?</a>
								<!-- [routerLink]="[routes.previous + routes.forgotPassword]" -->
							</div>
							<div class="form-label-group py-4">
								<button class="btn admin_btn_primary btn-block p-2" (click)="submit()">
									Login
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<p class="login-footer mx-5">
				Norfolk & Dedham Mutual Fire Insurance Co. - Dorchester Mutual Insurance Co. - Fitchburg Mutual
				Insurance
				Co.© 2021 N&D® Group. ALL RIGHTS RESERVED
			</p>
		</div>
	</div>
</section>