body {
    color: #000 !important;
    background: #F4F7FC;
}

.w-45 {
    width: 45%;
}

.pointer {
    cursor: pointer;
}

// Custom checkbox
.custom-checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 1px solid #8c8c8c;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox-container input:checked ~ .checkmark {
    background-color: #0aa156;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.invalid-feedback {
    display: block;
}

// data table
.empty-row {
    text-align: center;
    padding: 30;
}

// modal
.modal-content {
    border-radius: 0.5rem;
}

.close.modal-close {
    border: 1px solid #faae0b;
    border-radius: 50%;
    padding: 8px 12px;
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: #0aa156;
    color: #fff;
    opacity: 1!important;
}